{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "rules": {
    "prefer-const": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/newline-after-import": "error",
    "import/no-unresolved": "error"
  }
}
